/* General Styles */
body {
    color: #323232; /* Grey for main text, enhancing readability on a light background */
    background-color: #F2F4FF; /* Ghost White for a soft, inviting background */
    font-family: 'Open Sans', sans-serif; /* Use a clean, modern font */
}

.custom-navbar-bg {
    background-color: #696EC2; /* Medium Purple for the navbar background */
    color: #F2F4FF; /* Ghost White for text */
}

/* Header Styles */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #F2F4FF; /* Ghost White for navbar brand */
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #F2F4FF; /* Ghost White for nav links */
}

.navbar-nav .nav-link:hover {
    color: #A5A8E1; /* Light Purple for nav links on hover */
}

/* Banner Section */
.banner-section {
    background-image: url('WhatsApp Image 2024-06-28 at 17.30.21.jpeg'); /* Add your hero image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F2F4FF; /* Ghost White text for contrast */
    height: 80vh; /* Set height to 80% of viewport height */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Vertically center content */
    text-align: center;
}

.banner-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.banner-section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Dynamic Section */
.dynamic-section {
    background-color: #A5A8E1; /* Light Purple */
    color: #323232; /* Maintaining the sophisticated dark grey text color */
    padding: 40px 0;
    text-align: center;
    font-size: 50px; /* Increasing the font size for better readability */
    font-family: 'Montserrat', sans-serif;
}



/* Feature Section */
.feature-section {
    padding: 40px 0;
    background-color: #F2F4FF; /* Light Purple */
}
.feature-section .col-md-4 {
    border: 2px solid #120F26; /* Dark Purple for border */
    border-radius: 15px; /* Rounded corners for the boxes */
    padding: 40px; /* Internal spacing */
    margin: 10px; /* Space between each feature box */
    background-color: #F2F4FF; /* Matching background for the boxes */
}
.feature-section h2, .feature-section p {
    color: #323232; /* Readability against the light background */
}

/* CTA Section */
.cta-section {
    background-color: #696EC2; /* Medium Purple for the CTA section for subtle contrast */
    padding: 30px 0;
    text-align: center;
}

.cta-section h2, .cta-section p {
    color: #F2F4FF; /* Strong contrast and readability */
    font-family: 'Montserrat', sans-serif;
}

.navbar, .btn-primary, .btn-success {
    background-color: #696EC2; /* Medium Purple for navigation and button backgrounds */
    border: none;
    color: #F2F4FF;
}

.navbar, .navbar * {
    color: #F2F4FF; /* Ensures all text in the navbar is white */
}

.btn-primary {
    background-color: #696EC2; /* Your brand color for the button */
    color: #FFFFFF; /* Text color */
    border: none; /* Remove border */
}

.btn-primary:hover {
    background-color: #4B4E9A; /* Lighter shade for hover effect */
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #4B4E9A; /* Change this to your desired brand color for active state */
    color: #FFFFFF; /* Ensure text color remains white */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 0.2rem rgba(105, 110, 194, 0.5); /* Optional: Add a shadow for focus */
}

.btn-success {
    background-color: #120F26; /* Dark Purple for secondary buttons */
    color: #FFFFFF; /* Text visibility */
}

footer {
    background-color: #F2F4FF; /* Consistency with the page's aesthetic */
    color: #323232; /* Legibility of footer text */
}

a, a:hover {
    color: #696EC2; /* Updated link color for harmony with the design */
}

/* App Screenshots */
#app-screenshots .carousel-item img {
    max-height: 200px; /* Set a maximum height for the carousel images */
    width: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image if it's smaller than the container */
    border-radius: 15px; /* Optional: rounded corners for images */
    display: flex; /* Use flexbox to center the images */
    justify-content: center; /* Center the images */
    width: auto; /* Set to auto to fit the content */
    max-width: 200px; /* Set a maximum width for the carousel */
    margin: 0 auto; /* Center the carousel */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(18, 15, 38, 0.3); /* Dark Purple for navigation and button backgrounds with 30% transparency */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #120F26; /* Dark Purple for hover effect */
}

#dynamicWord {
    font-weight: bold;
    color: #323232; /* Adjust the color to fit your design */
}

.icon-square {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #120F26; /* Dark Purple color for icons */
    margin-right: 15px; /* Space between icon and text */
}

.icon-square i {
    font-size: 1.5rem; /* Icon size */
}

/* Case Studies Section */
#case-studies {
    background-color: #A5A8E1; /* Light Purple background for case studies */
    padding: 60px 0;
}

#case-studies h2 {
    margin-bottom: 20px; /* Add padding below the main heading */
    text-align: left; /* Align heading to the left */
    font-family: 'Montserrat', sans-serif;
}

#case-studies h5 {
    margin-bottom: 40px; /* Add padding below the subheading */
    text-align: left; /* Align subheading to the left */
    font-family: 'Open Sans', sans-serif;
}

#case-studies .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 15px; /* Rounded corners for cards */
}

#case-studies .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Left align text */
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Set width to move controls away from the text */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(18, 15, 38, 0.3); /* Dark Purple for navigation and button backgrounds with 30% transparency */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #120F26; /* Dark Purple for hover effect */
}

/* Add this to styles.css */
.hero-text {
    flex: 1; /* Allow the text to take available space */
    padding: 5%; /* Use percentage for padding */
    margin-bottom: 5%; /* Use percentage for bottom margin */
}

.hero-image {
    flex: 1; /* Allow the image to take available space */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    
    width: 40%;
    height: auto;

    max-height: 400px;
    object-fit: contain; /* width: 40%;Maintain aspect ratio while fitting within the area */

     /* overflow: hidden; Hide overflow to prevent the image from exceeding the max height */
}

.hero-image img {
    height: 80%;
    width: 80%; /* Allow the height to adjust automatically */
    max-height: 600px; /* Ensure the image does not exceed the height of its container */
    
    object-fit: contain; /* Maintain aspect ratio while fitting within the area */
}

/* Update the testimonial class in styles.css */
.testimonial {
    font-style: italic; /* Italicize the testimonial text */
    color: #696EC2; /* Change color to match your theme */
    margin-top: 2%; /* Space above the testimonial */
    padding: 5%; /* Add padding for better readability */
    border-left: 4px solid #120F26; /* Optional: Add a left border for emphasis */
    max-width: 80%; /* Set a maximum width for the testimonial */
    line-height: 1.5; /* Improve readability with line height */
    word-wrap: break-word; /* Allow long words to break and wrap to the next line */
    border-radius: 5px; /* Rounded corners for a softer look */
}

.star-rating {
    font-size: 1.5rem; /* Adjust size as needed */
    color: #000000; /* Change star color to black */
}

/* App Screenshots Carousel */
#app-screenshots {
    max-height: 50vh; /* Set a maximum height for the carousel section */
    overflow: hidden; /* Hide overflow to prevent images from exceeding the height */
}

#app-screenshots .carousel-item img {
    max-height: 40vh; /* Set a maximum height for the carousel images */
    width: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    margin: auto; /* Center the image if it's smaller than the container */
    border-radius: 15px; /* Optional: rounded corners for images */
}

/* Add this to styles.css */
.testimonial-bubble {
    background-color: #343a40; /* Dark background for the bubble */
    color: #ffffff; /* White text for contrast */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Padding inside the bubble */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for depth */
    margin: 0 auto; /* Center the bubble */
    max-width: 600px; /* Set a maximum width for the bubble */
}

.testimonial-text {
    font-size: 1.2rem; /* Slightly larger font size for better readability */
    margin: 0; /* Remove margin for the text */
}

.blockquote-footer {    
    font-size: 0.9rem; /* Slightly larger font size for better readability */
    margin: 0; /* Remove margin for the text */
    margin-top: 10px; /* Space above the footer */
    padding: 5px; /* Add padding for better readability */
}

/* Add this to styles.css */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Increase the width of the controls for easier clicking */
    color: #ffffff; /* Change arrow color to white */
    opacity: 0; /* Hide arrows by default */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
    pointer-events: none; /* Prevent interaction when hidden */
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    opacity: 1; /* Show arrows on hover */
    pointer-events: auto; /* Allow interaction when visible */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Dark background for the arrows */
    border-radius: 50%; /* Rounded background for the arrows */
    padding: 10px; /* Padding around the arrows */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.carousel-indicators {
    position: absolute; /* Position indicators */
    bottom: 10px; /* Position from the bottom */
    left: 50%; /* Center indicators */
    transform: translateX(-50%); /* Centering adjustment */
}

.carousel-indicators .active {
    background-color: #ffffff; /* Active indicator color */
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5); /* Inactive indicator color */
    border-radius: 50%; /* Rounded indicators */
}

/* Add this to styles.css */
.image-wrapper {
    border: 2px solid black; /* Thin black outline */
    border-radius: 5px; /* Optional: Slightly rounded corners */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

@media (max-width: 768px) {
    .hero-text {
        flex: 0 0 100%; /* Allow the text to take full width on smaller screens */
        margin-bottom: 20px; /* Add space below the text */
    }
    
    .hero-image {
        
        max-width: 500px; /* Iflex: 0 0 100%;ncrease the maximum height for smaller screens */
        height: auto; /* Allow the height to adjust automatically */
        padding: 1%;
    }
    .testimonial {
        font-size: 1rem; /* Adjust font size for better readability on small screens */
        padding: 10px; /* Add more padding for touch targets */
        border-left: none; /* Remove left border for a cleaner look on mobile */
        background-color: #f8f9fa; /* Light background for contrast */
        border-radius: 10px; /* Rounded corners for a softer look */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        margin: 0 auto; /* Center the testimonial */
    }

    .testimonial-bubble {
        padding: 15px; /* Adjust padding for mobile */
        margin: 10px 0; /* Add margin for spacing between testimonials */
    }
}


.hero-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Ensure items are in a row */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: Set a max width for larger screens */
    margin: 0 auto; /* Center the container */
}